* {
    /*nulstiller margin og padding på alle elementer*/
    margin: 0;
    padding: 0;
}


body {
    /*baggrundsfarve for siden*/
    background-color: #FDEEEF;
}



/*navigationslinks*/
.navlinks a {
    text-decoration: none; /*fjerner streger under links*/
    font-size: 20px; /*størrelse på link-tekst*/
    font-family: "Roboto Flex", sans-serif; /*font*/
    color: rgb(255, 255, 255); /*farve*/
    font-weight: 200; /*tykkelse på fonten*/
    position: relative; /*gør linket til forældre for ::after*/
    display: inline-block; /*giver et "felt" hvor stregen kommer*/
}

.navlinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /*afstand fra tekst*/
    width: 0px; /*start-længde*/
    height: 2px; /*tykkelse på streg*/
    background-color: #FFCBE2; /*farve på streg*/
    transition: width 0.3s ease; /*animation glidende*/
}

.navlinks a:hover::after {
    width: 100%; /*hvad der sker når jeg hover - holder musen over*/
}


/*navigationens container (menu baren)*/
.navbar {
    background-color: #000000; /*farve*/
    height: 150px; /*højde*/
    display: flex; /*aktivere flex layout*/
    align-items: center; /*centrere indholdet lodret*/
    justify-content: space-between; /*space mellem de to elementer*/
    padding: 0 80px;
}

/*str på log*/
.Logo {
    height: 220px;
    width: auto;
    margin-right: 10px;
}

/*indstiller lister (links) - fjerner punkter, laver vandret, afstand*/
.navlinks {
    list-style: none;
    display: flex;
    gap: 50px;
}




/*overskrift*/
.hero-text {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
    flex: 1;
    max-width: 500pxx;
    color: #000000;
}

/*brødtekst*/
.hero-text p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 32px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #000000;
}

.hero {
    display: flex; /*aktivere flex layout*/
    flex-direction: row-reverse; /*bytter rundt på elementerne*/
    justify-content: space-between;  /* tekst til venstre - billede til højre*/
    align-items: center; /*centrere lodret*/
    padding: 120px 80px; /*luft alle sider*/
    gap: 60px; /*astand mellem tekst og billedet*/
    flex-wrap: nowrap;
}

/*placering på img forside*/
.hero-image {
    flex: 1; /*tager plads i flexboxen*/
    display: flex; /*gøre container til flexboks-kan styre img placering*/
    justify-content: center; /*centrere vandret*/
    align-items: center; /*centree lodret*/
}

/*img forside*/
.hero-image img { 
    width: 100%; /*tilpas containers bredde*/
    max-width: 800px; /*max str*/
    height: auto; /*bevarer img form*/
    object-fit: cover; /*fyld plads ud*/

}


.signature {
    width: 100%; /*sektion fylder hele bredden*/
    display: flex; /*aktivere flex layout*/
    flex-direction: column; /*placerer linje og logo ovenfor hinanden*/
    align-items: center; /*centrere begge vandret*/
    margin: 120px 0 60px; /*luft over og under*/
}

/*linje*/
.sig-line {
    width: 60%; /*længde på linje*/
    height: 1px; /*tynd linje*/
    background-color: #8C2848;
    margin-bottom: 20px;
}

/*str på logo*/
.sig-logo { 
    height: 150px;
    width: auto;

}

/*bunden af siden*/
.footer { 
    background-color: #000000; /*farve på footer*/
    color: #FDEEEF;
    text-align: center; /*centrere indhold i footer*/
    padding: 40px 0;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-top: 120px;
}

/*margin og padding: margin - skubber boksen væk fra andre bokse. 
padding - giver indholdet inde i boksen plads*/

/*placering til overskrift*/
.Om {
    padding: 40px 80px 0;
}

/*overskrift*/
.Om h1 {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 70px;
    color: #000000;
}

/*placering af billeder*/
.om-imgs {
    display: flex; /*gøre container til flexboks-kan styre img placering*/
    justify-content: space-between; /*space mellem img*/
    gap: 40px; /*hvor meget afstand der er*/
    padding: 40px 80px; /*luft fra siderne-top og bund*/
    margin-top: 20px; /*afstand fra img til overskrift*/
}

/*billeder af mig*/
.img-box {
    flex: 1; /*boksene deler pladsen lige imellemn dem*/
    height: 400px;
    background-color: #8C2848;
}

.Praesentation {
    padding: 40px 80px;
    max-width: none; /*ikke begrænse bredden og følge skærmen*/
}

/*styling af tekststykke under img*/
.Praesentation p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 30px;
    line-height: 1.7;
    color: #000000;
    margin-bottom: 20px; /*luft mellem hver afsnit*/
}

.bold {
    font-weight: 500;
}

/*min baggrund tekststykke-fortæller om uddannelse og erfaring*/
.Baggrund {
    padding: 0 80px;
    max-width: none;
}

.Praesentation h2 {
    margin-top: 20px;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    color: #000000;
}
.Praesentation h3 {
    margin-top: 20px;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    color: #000000;
}

/*split linje mellem om mig og min baggrund*/
.split-line {
    width: 100%;
    height: 1px;
    background-color: #8C2848;
    margin: 60px auto;
}

/*placering til overskrift projekt*/
.Projekter {
    padding: 40px 190px 0;
}

/*Seneste projekter*/
.Projekter h1 {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 70px;
    color: #000000;
}

/*brødtekst overskrift produkt fotografering*/
.Pimg1-tekst h1 {
    font-family: "Roboto Flex", sans-serif;
    font-size: 50px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #000000;
}

/*brødtekst overskrift produkt fotografering*/
.Pimg1-tekst p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 35px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #000000;
}

.Pimg1-tekstboks {
    display: flex; /*aktivere flex layout*/
    flex-direction: row-reverse; /*bytter rundt på elementerne*/
    justify-content: space-between;  /* tekst til venstre - billede til højre*/
    align-items: flex-start; /*placere teksten i flex-startt*/
    padding: 120px 120px; /*luft alle sider*/
    gap: 30px; /*astand mellem tekst og billedet*/
    flex-wrap: nowrap;
}

.Pimg1-tekstboks > div {
    flex: 1;
}

/*placering på img forside*/
.Pimg1 {
    flex: 1; /*tager plads i flexboxen*/
    display: flex; /*gøre container til flexboks-kan styre img placering*/
    justify-content: center; /*centrere vandret*/
    align-items: center; /*centree lodret*/
}

/*img forside*/
.Pimg1 img { 
    width: 100%; /*tilpas containers bredde*/
    max-width: 800px; /*max str*/
    height: auto; /*bevarer img form*/
    object-fit: cover; /*fyld plads ud*/

}

/*sliderens container - holder alle billeder i samme container*/
.slider {
    position: relative; /*gør muligt at placere pile i boksen*/
    width: 100%; /*fyld hele bredden af pladsen*/
    max-width: 800px; /*slider må ikke blive større end det*/
    overflow: hidden; /*skjuler billederne udenfor rammen*/
    border: 3px solid black;
}

/*alle slides billeder der er skjult*/
.slide {
    display: none; /*img vises ikke før de bliver aktive*/
    width: 100%; /*fylder hele sliderens bredde*/
}

/*den aktive billede som vises*/
.slide.active {
    display: block; /*viser den valgte img*/
}
 /*styling af begge pile*/
.prev, .next {
    position: absolute; /*placere ovenpå slide*/
    top: 50%; /*midt på billede lodret*/
    transform: translateY(-50%); /*centrere præcis*/
    background: rgba(0, 0, 0, 0.4); /*halvtransparent sort baggrund*/
    color: #ffff; /*hvis pil*/
    border: none; /*ingen kant rundt om*/
    font-size: 40px;
    padding: 10px 15px;  
    cursor: pointer; /*viser klik-mus*/
    border-radius: 3px; /*afrundede hjørner*/
}

/*venstre pil*/
.prev {
    left: 10px; /*placere 10px fra v kant*/
}

/*højre pil*/
.next {
    right: 10px; /*placere 10px fra h kant*/
}

/*hover - pilens baggrund bliver mørkere når man holder musen over*/
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}


