* {
    /*nulstiller margin og padding på alle elementer*/
    margin: 0;
    padding: 0;
}


body {
    /*baggrundsfarve for siden*/
    background-color: #FDEEEF;
}



/*navigationslinks*/
.navlinks a {
    text-decoration: none; /*fjerner streger under links*/
    font-size: 20px; /*størrelse på link-tekst*/
    font-family: "Roboto Flex", sans-serif; /*font*/
    color: rgb(255, 255, 255); /*farve*/
    font-weight: 200; /*tykkelse på fonten*/
    position: relative; /*gør linket til forældre for ::after*/
    display: inline-block; /*giver et "felt" hvor stregen kommer*/
}

.navlinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /*afstand fra tekst*/
    width: 0px; /*start-længde*/
    height: 2px; /*tykkelse på streg*/
    background-color: #FFCBE2; /*farve på streg*/
    transition: width 0.3s ease; /*animation glidende*/
}

.navlinks a:hover::after {
    width: 100%; /*hvad der sker når jeg hover - holder musen over*/
}


/*navigationens container (menu baren)*/
.navbar {
    background-color: #000000; /*farve*/
    height: 150px; /*højde*/
    display: flex; /*aktivere flex layout*/
    align-items: center; /*centrere indholdet lodret*/
    justify-content: space-between; /*space mellem de to elementer*/
    padding: 0 80px;
}

/*str på log*/
.Logo {
    height: 220px;
    width: auto;
    margin-right: 10px;
}

/*indstiller lister (links) - fjerner punkter, laver vandret, afstand*/
.navlinks {
    list-style: none;
    display: flex;
    gap: 50px;
}




/*overskrift*/
.hero-text {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
    flex: 1;
    max-width: 500pxx;
    color: #000000;
}

/*brødtekst*/
.hero-text p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 32px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #000000;
}

.hero {
    display: flex; /*aktivere flex layout*/
    flex-direction: row-reverse; /*bytter rundt på elementerne*/
    justify-content: space-between;  /* tekst til venstre - billede til højre*/
    align-items: center; /*centrere lodret*/
    padding: 120px 80px; /*luft alle sider*/
    gap: 60px; /*astand mellem tekst og billedet*/
    flex-wrap: nowrap;
}

/*placering på img forside*/
.hero-image {
    flex: 1; /*tager plads i flexboxen*/
    display: flex; /*gøre container til flexboks-kan styre img placering*/
    justify-content: center; /*centrere vandret*/
    align-items: center; /*centree lodret*/
}

/*img forside*/
.hero-image img { 
    width: 100%; /*tilpas containers bredde*/
    max-width: 800px; /*max str*/
    height: auto; /*bevarer img form*/
    object-fit: cover; /*fyld plads ud*/

}


.signature {
    width: 100%; /*sektion fylder hele bredden*/
    display: flex; /*aktivere flex layout*/
    flex-direction: column; /*placerer linje og logo ovenfor hinanden*/
    align-items: center; /*centrere begge vandret*/
    margin: 120px 0 60px; /*luft over og under*/
}

/*linje*/
.sig-line {
    width: 60%; /*længde på linje*/
    height: 1px; /*tynd linje*/
    background-color: #8C2848;
    margin-bottom: 20px;
}

/*str på logo*/
.sig-logo { 
    height: 150px;
    width: auto;

}

/*bunden af siden*/
.footer { 
    background-color: #000000; /*farve på footer*/
    color: #FDEEEF;
    text-align: center; /*centrere indhold i footer*/
    padding: 40px 0;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-top: 120px;
}

/*margin og padding: margin - skubber boksen væk fra andre bokse. 
padding - giver indholdet inde i boksen plads*/

/*placering til overskrift*/
.Om {
    padding: 40px 80px 0;
}

/*overskrift*/
.Om h1 {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 70px;
    color: #000000;
}

.om-imgs {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 80px;
    margin-top: 20px;
}

.img-box {
    flex: 1;
    height: 400px;
    background-color: #8C2848;
}

.Praesentation {
    padding: 40px 80px;
    max-width: none;
}

.Praesentation p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 35px;
    line-height: 1.7;
    color: #000000;
    margin-bottom: 20px;
}

.bold {
    font-weight: 500;
}

.Baggrund {
    padding: 0 80px;
    max-width: none;
}

.Praesentation h2 {
    margin-top: 20px;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    color: #000000;
}

.split-line {
    width: 100%;
    height: 1px;
    background-color: #8C2848;
    margin: 60px auto;
}





