* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDEEEF;

}


ul {

}


ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto Flex", sans-serif;
    color: rgb(255, 255, 255);
}

.navbar {
    background-color: #000000;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 80px;
}

.Logo {
    height: 220px;
    width: auto;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 50px;
}




