* {
    /*nulstiller margin og padding på alle elementer*/
    margin: 0;
    padding: 0;
}


body {
    /*baggrundsfarve for siden*/
    background-color: #FDEEEF;
}



/*navigationslinks*/
.navlinks a {
    text-decoration: none; /*fjerner streger under links*/
    font-size: 20px; /*størrelse på link-tekst*/
    font-family: "Roboto Flex", sans-serif; /*font*/
    color: rgb(255, 255, 255); /*farve*/
    font-weight: 200; /*tykkelse på fonten*/
    position: relative; /*gør linket til forældre for ::after*/
    display: inline-block; /*giver et "felt" hvor stregen kommer*/
}

.navlinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /*afstand fra tekst*/
    width: 0px; /*start-længde*/
    height: 2px; /*tykkelse på streg*/
    background-color: #FFCBE2; /*farve på streg*/
    transition: width 0.3s ease; /*animation glidende*/
}

.navlinks a:hover::after {
    width: 100%; /*hvad der sker når jeg hover - holder musen over*/
}


/*navigationens container (menu baren)*/
.navbar {
    background-color: #000000; /*farve*/
    height: 150px; /*højde*/
    display: flex; /*aktivere flex layout*/
    align-items: center; /*centrere indholdet lodret*/
    justify-content: space-between; /*space mellem de to elementer*/
    padding: 0 80px;
}

/*str på log*/
.Logo {
    height: 220px;
    width: auto;
    margin-right: 10px;
}

/*indstiller lister (links) - fjerner punkter, laver vandret, afstand*/
.navlinks {
    list-style: none;
    display: flex;
    gap: 50px;
}




/*overskrift*/
.hero-text {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    flex: 1;
    max-width: 500pxx;
    color: #000000;
}

/*brødtekst*/
.hero-text p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 30px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #000000;
}

.hero {
    display: flex;
    flex-direction: row-reverse; /*bytter rundt på elementerne*/
    justify-content: space-between;  /* tekst til venstre - billede til højre*/
    align-items: center; /*centrere lodret*/
    padding: 120px 80px; /*luft alle sider*/
    gap: 60px; /*astand mellem tekst og billedet*/
    flex-wrap: nowrap;
}

.hero-image {
    width: 800px;
    height: 500px;
    flex-shrink: 0;
    background-color: #000000;
}









